{% extends 'personalbase.html' %}

{% block personal_content %}
<div style="padding-left: 30px;padding-top: 30px;">
        <div>我的发布</div>
        <div style="">
        <ul style="height: 52px" id="main_nav">
            <li>全部</li>
            <li>待审核</li>
            <li>审核通过</li>
            <li>审核未通过</li>
        </ul>
        </div>
<hr>
    <div id="publish_content">
{#        {% for message in messages %}#}
        <!--
            <div style="background-color: red;width: 782px;height: 177px;margin: 10px;">{{ message.new_title }}</div>
         -->
{#        {% endfor %}#}
        {% for contact in contacts %}
            {# 每个"contact"都是一个Contact模型对象。 #}
            {{ contact.new_title|upper }}<br />
        {% endfor %}
        
        {#  分页标签的HTML代码 #}
        <div class="pagination">
            <span class="step-links">
                {% if contacts.has_previous %}
                    <a href="?page={{ contacts.previous_page_number }}" style="color: black;">上一页</a>
                {% endif %}

                <span class="current">
                    Page{{ contacts.number }} of {{ contacts.paginator.num_pages }}.
                </span>

                {% if contacts.has_next %}
                    <a href="?page={{ contacts.next_page_number }}" style="color: black;">下一页</a>
                {% endif %}
            </span>
        </div>
    </div>
</div>
{% endblock %}