{% extends 'personalbase.html' %}

{% block personal_content %}
    <div style="padding-left: 30px;padding-top: 30px;">
        <div>我的会员</div>
        <div>当前<span>VIP</span> <span>{{ user.level }}</span>级,本月剩余文章发布次数:<span>{{ user.times }}</span>次
            <a href="{% url 'person:charge' %}" style="background-color: #1992EF;">续费/升级</a>
        </div>
        <hr>
        <div>会员等级说明</div>
        <div style="height: 150px;" id="VIP_Info">
            <div style="position: absolute">VIP1</div>
            <div style="position: absolute">VIP2</div>
            <div style="position: absolute">VIP3</div>
        </div>
        <hr>
        <div>购买记录</div>
        <div>
            {% for contact in contacts %}
            {# 每个"contact"都是一个Contact模型对象。 #}
                 <pre style="font-size: 20px;">
{{ contact.code }}        {{ contact.charge_money }}          {{ contact.charge_time }}<br />
                 </pre>
        {% endfor %}

        {#  分页标签的HTML代码 #}
        <div class="pagination">
            <span class="step-links">
                {% if contacts.has_previous %}
                    <a href="?page={{ contacts.previous_page_number }}" style="color: black;">上一页</a>
                {% endif %}

                <span class="current">
                    Page{{ contacts.number }} of {{ contacts.paginator.num_pages }}.
                </span>

                {% if contacts.has_next %}
                    <a href="?page={{ contacts.next_page_number }}" style="color: black;">下一页</a>
                {% endif %}
            </span>
        </div>
        </div>
    </div>
{% endblock %}