{% extends "base.html" %}
{% load static %}
{% block content %}
    <div style="border-left:4px solid black;border-top:1px solid #EFEFEF;border-right:1px solid #EFEFEF;border-bottom:1px solid #EFEFEF;width: 1152px;height: 52px;position: absolute;top:9px;left: 264px;">
        <!-- 样式待调整 -->
        <div style="float: left;line-height: 52px;margin-left: 28px;font-size: 16px;"><strong>忘记密码</strong></div>
    </div>
    <div style="border:1px solid #EFEFEF;width: 1152px;height: 872px;position: absolute;top: 67px;left: 264px;">
        <div style="width: 420px;height: 215px;position: absolute;left: 365px;top:120px;text-align: left    ">
            <form action="{% url 'user:forget' %}" method="post">
                {% csrf_token %}
                <input type="text" name="u_mobile" placeholder="请输入手机号"  style="border-style: none;width: 418px;color:#888888;height: 40px;outline: none">
                <hr style="margin-top: 2px;">
                <!--
                <input type="text" name="mob_num" placeholder="请输入手机号"  style="border-style: none;width: 418px;color:#888888;height: 40px;outline: none">
                -->
                <hr style="margin-top: 2px;">
                <input type="text" name="verify_code" placeholder="请输入验证码" style="border-style: none;width: 240px;color:#888888;height: 40px;outline: none;margin-top: -5px;">
                <div  name="getverify_code_btn" style="float: right;width: 140px;height: 42px;background-color:#1992EF;color:white;font-size: 16px;border: none;text-align: center;line-height: 42px;">获取验证码</div>
                <!--
                <img src="/user/getvcode"  id="image"><br>
                验证码:
                <input type="text" placeholder="请输入验证码" name="vcode"><br>
                <input type="file" name="uicon"><br>
                -->

                <!--
                验证码:
                <img src="/get_validcode_img/" alt="">
                -->
                <hr style="margin-top: 2px;width: 240px;">
                <input type="submit" name="login_btn" id="next_step" value="下一步" style="width: 420px;height: 50px;outline: none;background-color:#1992EF;border-radius: 4px;color:white;font-size: 16px;margin-top: 10px;border: none">
            </form>
            <!--  这儿是错误信息 -->
            <div>{{ error }}</div>
        </div>
    </div>
        <script src="{% static 'js/jquery.js' %}">
    </script>
    <script type="text/javascript">
$(function(){
    $("#next_step").click(function () {
        var username = $("#u_mobile").val();
        var validcode = $("#validcode").val();

        $.ajax({
            url: "/forget/",
            type: "POST",
            data : {"username":username, "validcode":validcode},
            headers: {"X-CSRFToken": $.cookie("csrftoken")},  //配置csrftoken
            success: function (data) {
                console.log(data);
                var response = JSON.parse(data);
                if (response["is_login"]){
                    self.location.href = ("/index/")
                }else{
                    $(".error").html(response["error_msg"]).css("color","red")
                }
            }
        })
    })
})
    </script>
{% endblock %}